# Build artifacts
build/
docs/build/
docs/source/_build/

# Packaging metadata
FastMDAnalysis.egg-info/

# Python cache
__pycache__/
*.pyc

# Output files
*_output/
demos/
slides/FastMDAnalysis_demo_slides.pptx

# Note
NOTE
